@{
    ViewBag.Title = "AngularTypeScriptDemo ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ApplicationName = "AngularDemo";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>

@Scripts.Render("~/js/angularDemoScripts")

<h2>Angular TypeScript Demo</h2>

<div data-ng-controller="AngularDemo.Controller.DemoController">
    
    <div data-ng-view></div>

</div>